<div class="flex flex-col">  
  <h1 class="bg-emerald-900 text-yellow-200 text-xl p-10 rounded">Understanding <strong>'yield'</strong> and <strong>'content_for'</strong></h1>

  <% content_for :greet do %>
    <p class="italic text-7xl tracking-wide">Hello, Rails!</p>
  <% end %>  

  <div class="self-center text-red-500">  
    <%= yield :greet %>
  </div>  
</div>